/* GLOBAL STYLE */
body {
    background-color: #ffffff;
    color: #ffffff;
    font-size: 14pt;
    padding-top: 60px;
}

canvas {
    width: 100%; height: 100%
}

/* Dark Green background ---> background-color: #0a570c; */

h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Metal Mania', Verdana, cursive;
}

h2 {
    color: limegreen;
    font-size: 60px;
    text-align: center;
    font-family: 'UnifrakturMaguntia', Verdana, cursive;
}

h3 {
    color: white;
    text-align: center;
}

p {
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*font-family: "Arial Black", Gadget, sans-serif;*/
    font-family: /*"Arial Black",*/ Verdana, Geneva, sans-serif;
}

ul {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: /*"Arial Black",*/ Verdana, Gadget, sans-serif;
}

.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-size: 20pt;
    color: #ffffff;
    font-family: 'Metal Mania', Verdana, cursive;
}

.nav-link {
    color: #d3d3d3; /*NOT WORKING*/
}


/*
.navbar.center .navbar-inner {
	text-align: center;
}

.navbar.center .navbar-inner .nav {
	display:inline-block;
	float: none;
	vertical-align: top;
}
*/

#jrdev {

}

#tagline {
    color: darkgrey;
    /*margin: 3px;*/
    /*padding-top: 20px;*/
}


#darkbutton {
    padding-left: 22%;
    /*padding-right: 10%;*/
}

.darkmode {
    background-color: #000000;
    color: #000000;
    transition: background-color 1s;
}

#aboutme-sect-divide {
    /*padding-top: 42px;*/
}

#aboutme {
    background-color: dimgrey;
    padding-bottom: 15px;
    /*margin: 40px;*/
}

#aboutmetxt {
    font-size: 14pt;
    /*text-indent: 5%;*/
}

.carousel {
    /*padding-bottom: 20px;*/
}

/*
#skills-sect-divide {
	background-color: dimgray;
	padding-top: 46px;
}
*/

#skillsCard {
    font-size: 15pt;
    /*color: darkgrey;*/
    background-color: #1d3030;
    padding-top: 42px;
    padding-bottom: 20px;
}

#skillstxt {

}

#projects-sect-divide {
    padding-top: 46px;
}

#projects {
    padding-top: 35px;
}

#contact-sect-divide {
    padding-top: 40px;
}

#contact {
    background-color: dimgrey;
    padding-bottom: 15px;
}

#email {
    font-size: 14pt;
}

#upwork {
    font-size: 14pt;
}

a.contact {
    text-decoration: underline;
    color: #ffffff;
}

a:hover {
    color: #28a745; /*Bootstrap "Success" Green Hex*/
    /*color: color: #42ba96; light green*/
    /*color: darkgrey;*/
}

a:active {
    color: darkgreen;
}

footer {
    background-color: darkslategrey;
    color: #ffffff;
    margin-top: 30px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 25px;
    width: 100%;
}

/*W3 Over-rides*/
/*Line 117*/
/*FIX THIS: Not working as an over-ride*/
.w3-animate-fading, .not-invisible {
{animation:fading 2s infinite}@keyframes fading{0%{opacity:0}50%{opacity:0.25}100%{opacity:0}};
}


/*Train GIF Color Inversion*/
.dark-train-gif {
    filter: invert(1);
    transition: 1s;
}

